.layout-widget() {
    .layout {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background: #edeff0;

        .top {
            height: 40px;
            line-height: 40px;
        }

        .logo-widget {
            position: relative;
            height: 106px;
            width: 100%;
            background: #02242C;
            background: -moz-linear-gradient(45deg, #04498A 0%, #eee 100%);
            background: -o-linear-gradient(45deg, #034250 0%,#eee 100%);
            background: -ms-linear-gradient(45deg, #034250 0%,#eee 100%);
            background: linear-gradient(45deg, #034250 0%,#eee 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02242C', endColorstr='#eee',GradientType=1 );
            -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
            -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
            box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);

            &::after {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: url("../../../images/logo_bg.png") repeat;
                opacity: .4;
            }

            .logo {
                height: 100%;
                max-width: 1000px;
                margin: 0 auto;
                display: flex;

                img {
                    height: 100%;
                }

                .logo-text {
                    margin-left: 20px;
                    font-size: 50px;
                    color: #fff;
                    font-weight: bold;
                    line-height: 106px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    min-width: 150px;
                }
            }
        }

        .main {
            height: calc(~"100% - 146px");
            width: 100%;
            display: flex;

            .left {
                width: 15%;
                background: #1a3f6f;
                min-width: 55px;
                overflow: auto;
            }
            
            .right {
                width: 85%;
                transition: width .2s ease;
                overflow: auto;

                &.short {
                    width: 49%;
                }
            }
        }

        .fixed-right {
            overflow: auto;
            position: fixed;
            width: 35%;
            height: 97%;
            top: 0px;
            right: 0px;
            background: #fff;
            box-shadow: 0 0 5px 0;
            margin: 1%;
            transition: opacity .3s ease, transform .3s ease, -webkit-transform .3s ease;

            &.hide-fixed-right {
                opacity: 0;
                transform: scale(0);
                -webkit-transform: scale(0);
            }
        }
    }
};