.tree-widget() {
    .tree {
        .node {
            padding-left: 20px;

            .text {
                line-height: 30px;
                cursor: pointer;
                transition: all 0.3s ease;

                &:hover {
                    background: #e7f4f9;
                }

                &.selected {
                    background: #beebff;
                    background: -webkit-linear-gradient(top,#beebff 0,#a8e4ff 100%);
                    background: linear-gradient(to bottom,#beebff 0,#a8e4ff 100%);
                }

                .tree-checkbox {
                    margin: 0 8px;
                }
            }

            // &.show {
            //     display: block;
            //     .text {
            //         height: 30px;
            //         animation: toggle-height 0.2s ease;
                    
            //         @keyframes toggle-height {
            //             from {
            //                 height: 0;
            //             }
            //             to {
            //                 height: 30px;
            //             }
            //         }
            //     }
            // }

            // &.hide {
            //     display: none;
            //     .text {
            //         height: 0;
            //         animation: toggle-height 0.2s ease;
                    
            //         @keyframes toggle-height {
            //             from {
            //                 height: 30px;
            //             }
            //             to {
            //                 height: 0;
            //             }
            //         }
                    
            //     }
            // }
        }
    }
}