.secondary-navigation-widget {
    .item {
        color: #fff;
        padding: 10px 20px;
        display: block;
        line-height: 30px;
        text-decoration: none;
        transition: all 0.3s ease;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        &.current {
            color: #852b99;
            background: #edeff0;
        }

        &:hover {
            color: #a24bb5;
            background: #FFF;
            box-shadow: 0 0 2px #FFF;
        }
    }
}